.red {color:red;}
.blue {color:blue;}
.green {color:green;}
.lime {color:lime;}
.purple {color:purple;}
.violet {color:violet;}
.white {color:white;}
.black {color:black;}
.gray {color:gray;}
.yellow {color:yellow;}
.orange {color:orange;}
.redorange {color:orangered;}
.cyan {color:cyan;}
.brown {color:brown;}
.pink {color:pink;}
.navy {color:navy;}
.hotpink {color:hotpink;}
