.lead {font-size:1.2rem;font-weight:1;font-family: Courier New, monospace;}
.lazy {font-size:1.2rem;font-weight:400;font-family:Apple Chancery, cursive;}
.bold {font-size:1.2rem;font-weight:1;font-family: Jazz LET, fantasy;}
.old {font-size:1.2rem;font-weight:1;font-family:papyrus, fantasy;}
.fancy {font-size:1.5rem;font-weight:500;font-family:Gabriola;}
.sloppy {font-size:1.2rem;font-weight:700font-family:Ink Free;}
.cursive {font-size:1.7rem;font-weight:500;font-family:Brush Script MT, Brush Script Std, cursive;}
